<!DOCTYPE html>
<html>
<head>
	<title>TimeCup</title>
	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>
</head>
<body>
	<div id="container">
		<div id="content">
			<% if flash[:notice] %>
			<p id="notice">
				<%= flash[:notice] %>
			</p>
			<% end %>
			<% if flash[:alert] %>
			<p id="alert">
				<%= flash[:alert] %>
			</p>
			<% end %>
			<%= yield %>
		</div>
		<div id="footer">
			&copy 2013 Olenberg & Saygili Corp. |
			<% if user_signed_in? %>
			<%= link_to "logout", destroy_user_session_path, :method => :delete %>
			<% else %>
			<%= link_to "login", new_user_session_path, :method => :get %> <%= link_to "Registrieren", new_user_registration_path, :method => :get %>
			<% end %>
		</div>
	</div>
</body>
</html>
